<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 2px solid black;
            height: 50px;
            width: 100%;
            background-color: black;
        }
        
        .links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        a {
            margin: 20px;
            text-align: center;
            text-decoration: none;
            color: white;
        }
        
        .content {
            height: 500px;
            background-image: url(https://m.media-amazon.com/images/I/81XpdTZWvzL.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
        
        .footer {
            height: 100px;
            width: 100%;
            background-color: rgb(178, 87, 201);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    </style>
</head>

<body>
    <nav>
        <div style="color: white;">Allime</div>
        <div class="links">
            <a href="">Home</a>
            <a href="">Pages</a>
            <a href="">About</a>
            <a href="">Gallery</a>
            <a href="">Blog</a>
            <a href="">Contact</a>
        </div>
    </nav>

    <div class="content">
        <h1>Hello </h1>
        <h2>I am Full-Stack Devloper</h2>
    </div>

    <div class="footer">
        <h3>Email:-yashvaland94@gmail.com</h3>
    </div>
</body>

</html>